iframe {
  border: 0px;
  overflow: hidden;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  color: #cacaca;
  background: #212c3d;
}

.App {
  display: flex;
  overflow: hidden;
}

.Splitview {
  display: flex;
  flex: 1 0;
  width: 100%;
}

.Splitview.split-vertical {
  flex-direction: column;
}

.Splitview.split-horizontal {
  flex-direction: row;
}

.split {
  box-sizing: border-box;
  flex: 0 0;
  overflow: hidden;
}

.Splitview.split-horizontal .gutter {
  height: 100%;
  cursor: ew-resize;
}

.Splitview.split-vertical .gutter {
  width: 100%;
  cursor: ns-resize;
}

#streams iframe {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: #000000;
  display: inline-block;
}

#streams {
  flex: 1 1;
  text-align: center;
  line-height: 0px;
}

#chats {
  flex: 0 1 20%;
  display: flex;
  flex-direction: column;
}

.gutter {
  background-color: #171e2a;
}

.tabLinks {
  flex: 0 0 30px;
  display: flex;
  border-bottom: 5px solid #171e2a;
}

.tabLink {
  padding: 4px;
  cursor: pointer;
  color: #a7a7a7;
  display: flex;
  align-items: center;
}

.tabLink img {
  margin-right: 2px;
}

.tabLink.active {
  font-weight: 600;
  color: #cacaca;
  background: #171e2a;
}

.chatTab {
  flex: 1 0;
}
